<h1>Registro de Peliculas</h1>

<%= form_with url: '/movies/create', model: @movie, method: :post do |form|%>

    <div>
        <%= form.label :name, "Nombre de la pelicula"  %> <br>
        <%= form.text_field :name %> 
    </div><br>
    <div>
        <%= form.label :synopsis, "Sinopsis" %> <br>
        <%= form.text_area :synopsis %> 
    </div><br>
    <div>
        <%= form.label :director, "Director" %> <br>
        <%= form.text_field :director %>  
    </div><br>
    <div>
        <%= form.submit "Guardar Pelicula"%>
    </div>

<% end %>
